#CLERK AUTHORIZATION
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_CLERK_WEBHOOK_SECRET=

#HYGRAPH CMS
NEXT_PUBLIC_GRAPHCMS_ENDPOINT=

# TELEGRAM
NEXT_PUBLIC_TELEGRAM_BOT_API=
NEXT_PUBLIC_TELEGRAM_CHAT_ID=

# MONGODB
MONGODB_URL=
MONGODB_DB=

UPLOADTHING_TOKEN=

# TINY EDITOR
NEXT_PUBLIC_TINY_API_KEY=

# BASE URL
NEXT_PUBLIC_BASE_URL=

# STRIPE
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_SECRET_KEY=